<div class="modal fade" id="customPageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="customModalTitle"></h2>
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="modal"
        >
          {% render 'svg-icons', icon: 'x', size: 20 %}
        </button>
      </div>
      <div class="modal-body" id="customModalPageContent"></div>
    </div>
  </div>
</div>
