/* product card */
.product-card .product-price-final-sale {
  color: #e12727 !important;
}
.product-card .product-price {
  font-weight: bold !important;
  font-size: 110% !important;
}
.product-card .product-sale-badge {
  font-size: 0.8rem !important;
  height: 1.5rem !important;
  background-color: #e12727;
  border-radius: 3px !important;
}

/* product details page */
.product-main .product-price-final-sale {
  color: #e12727 !important;
}
.product-main .product-sale-badge {
  background-color: #e12727;
  border-radius: 3px !important;
  font-size: 0.8rem !important;
}
.product-main .product-price {
  font-weight: bold !important;
}
.product-main .product-options .size-buttons input + label {
  border-radius: 1rem;
}
.product-main .product-sold-out-badge {
  border-radius: 3px !important;
  font-size: 0.8rem !important;
}

/* faq */
.faq .accordion-button .span-svg-icons-plus {
  display: none;
  margin-right: 5px;
}

.faq .accordion-button .span-svg-icons-minus {
  display: block;
  margin-right: 5px;
}

.faq .accordion-button.collapsed .span-svg-icons-plus {
  display: block;
  margin-right: 5px;
}

.faq .accordion-button.collapsed .span-svg-icons-minus {
  display: none;
  margin-right: 5px;
}

/* color swatch */
.color-swatch-label {
  width: 30px;
  height: 30px;
  border-radius: 100% !important;
  position: relative;
}

.color-swatch-label:before {
  border-color: #fff;
  border-radius: 9999px;
  border-style: solid;
  border-width: 3px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0.9);
  width: 100%;
}

.product-options .size-buttons input:checked + label.color-swatch-color {
  border: 2px solid red;
}
